:root {
    --wowza-orange: #ff8400;
    --wowza-blue: #013053;
    --lcevc: var(--wowza-orange);
    --h264: var(--wowza-blue);
}

html, body {
    margin: 0;
    padding: 0;
    background:#013053;
    color:#FFF;
    font-size:18px;
    font-family: Inter, sans-serif;
}
section{
    padding-top:50px !important;
}
.container{
    margin: 0 auto;
    max-width: 108rem;
    width: 100%;
}
h2{
    font-size:60px;
    font-weight:800;
    text-transform:uppercase;
}
h3{
    font-size:40px;
    font-weight:800;
    color:#023053;
}
h5 {
    color: #023053;
    font-size: 1em;
    font-weight: 700;
}

.button{
    font-weight: 700;
    font-size: 19px;
    text-transform:unset;
    background-color: #ff8400;
    border: 3px solid #ff8400;
    border-radius:50px;
    color:#FFF;
    padding: 12px 24px;
    text-decoration: none;
    height:auto;
    line-height:18px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.button:hover, .button:active{
    background-color:#cc6a00;
    border-color:#cc6a00;
}
.text-center{
    text-align: center;
}
.img-responsive{
    max-width:100%;
    height:auto;
}
.color-orange{
    color:#ff8400 !important;
}
.color-denim-dark{
    color:#023053!important
}
.color-white{
    color: #fff !important;;
}
.bg-white{
    background:#FFF !important;
}
.bg-denim-bright {
    background-color: #7ec0dd !important;
}
.bg-divider-rel{
    position:relative;
    line-height:0;
}
.bg-divider-bottom img {
    position: relative;
    bottom: -1px;
    width:100%;
    height:auto;
}
.plus{
    margin:0 10px;
}
.logos{
    display:flex;
    align-items:center;
    margin-bottom:20px;
}
.hero-shell{
    background:#025B90;
    border-radius:50px;
    padding:40px;
}
#powering-video{
    padding-bottom:300px;
}
.partner-logo-shell{
    background:#FFF;
    border-radius:50px;
    padding:40px;
    position:relative;
}
.laptop{
    position: absolute;
    top: 315px;
    left: -512px;
    z-index: 99;
}
.card-shell{
    color:#013053;
    display:flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}
.card{
    width:32%;
    background:#2f5793;
    margin-bottom:40px;
    border-radius:25px;
    padding:20px 40px;
    min-height:250px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size:25px;
}
.card p{
    margin-bottom:0;
}
#app {
    /*max-width: 1080px;*/
    margin: 0 auto;
    padding: 0;
}

.players {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.fp-color {
  background-color: #ff8400;
}

.fp-lcevc-output {
    position: absolute;
}

.is-lcevc video {
    display: none;
}

[*|series-name="lcevc"] .ct-bar,
[*|series-name="lcevc"] .ct-line,
[*|series-name="lcevc"] .ct-point,
[*|series-name="lcevc"] .ct-slice-donut {
    stroke: var(--lcevc) !important;
    stroke-width: 4px;
}

[*|series-name="lcevc"] .ct-area,
[*|series-name="lcevc"] .ct-slice-pie {
    fill: #ff8400 !important;
    fill-opacity: 1
}

[*|series-name="h264"] .ct-bar,
[*|series-name="h264"] .ct-line,
[*|series-name="h264"] .ct-point,
[*|series-name="h264"] .ct-slice-donut {
    stroke: var(--h264) !important;
    stroke-width: 4px;
}

[*|series-name="h264"] .ct-area,[*|series-name="h264"] .ct-slice-pie {
    fill-opacity: 1
}

.ct-label {
    font-size: 15px !important;
}
footer{
    background:#000;
    color:#FFF;
    font-size:14px;
    padding:20px 0;
}
footer p{
    margin-bottom:0;
}
footer a, footer a:active, footer a:visited{
    color:#FFF;
    text-decoration:none;
}
footer a:hover{
    color:#ff8400;
}
@media screen and (max-width: 640px) {
    .row .column.column-80, .row .column.column-75{
        max-width:100%;
    }
    .card{
        width:100%;
    }
    .laptop{
        position: relative;
        top: 0;
        left: 0;
    }
    #powering-video{
        padding-bottom:50px;
    }
  }

#timeseries {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding:1em 0 0 0;
}

#timeseries > div {
    flex-grow: 1;
    min-height: 5em;
    height: 100%;
}

#timeseries h5 {
    text-align: center;
    display: flex;
    gap: 1em;
    flex-direction: row;
    margin: 0;
    padding: 0;
    text-align: center;
}

#timeseries .legend {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 1em;
}

.legend li:before {

    content: " ";
    margin-right: 1em;
}

li.lcevc:before{
    border: 4px solid var(--lcevc);
}

li.h264:before {
    border: 4px solid var(--h264);
}