html, body {
    margin: 0;
    padding: 0;
}

#app {
    /*max-width: 1080px;*/
    margin: 0 auto;
    padding: 1em;
}

.players {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.fp-color { 
  background-color: #ff8400;
}

.fp-lcevc-output {
    position: absolute;
}

.is-lcevc video {
    display: none;
}

.ct-series-a .ct-bar,.ct-series-a .ct-line,.ct-series-a .ct-point,.ct-series-a .ct-slice-donut {
    stroke:#ff8400 !important;
    fill: #ff8400 !important;
    stroke-width: 4px;
}

.ct-series-a .ct-area,.ct-series-a .ct-slice-pie {
    fill: #ff8400 !important;
    fill-opacity: 1
}

.ct-series-b .ct-bar,.ct-series-b .ct-line,.ct-series-b .ct-point,.ct-series-b .ct-slice-donut {
    stroke: #013053 !important;
    fill: #013053 !important;
    stroke-width: 4px;
}

.ct-series-b .ct-area,.ct-series-b .ct-slice-pie {
    fill: #013053 !important;
    fill-opacity: 1
}

.ct-label {
    font-size: 15px !important;
}